 body {
      font-family: Arial, sans-serif;
      background-color: #eceff1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    h1 {
      margin-bottom: 30px;
      color: #333;
    }

    .tabuleiro {
      display: grid;
      grid-template-columns: repeat(4, 100px);
      grid-gap: 15px;
    }

    input[type="checkbox"] {
      display: none;
    }

    .carta {
      width: 100px;
      height: 100px;
      background-color: #bbb;
      border-radius: 10px;
      cursor: pointer;
      position: relative;
      transform-style: preserve-3d;
      transition: transform 0.6s;
    }

    .carta::before,
    .carta::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      backface-visibility: hidden;
    }

    .carta::before {
      background-color: #ccc;
    }

    .carta::after {
      background-size: cover;
      transform: rotateY(180deg);
    }

    .carta1::after {
        background-image: url('../img/gandalf.jpeg');
    }

     .carta2::after {
        background-image: url('../img/smeagol.webp');
    }

     .carta3::after {
        background-image: url('../img/thauriel.jpg');
    }

     .carta4::after {
        background-image: url('../img/thorin.jpg');
    }

    input:checked + label .carta {
      transform: rotateY(180deg);
    }